
services:
  db:
      image: mcr.microsoft.com/mssql/server:2022-latest
      ports:
        - "${DB_PORT}:1433"
      environment:
        SA_PASSWORD: ${DB_PASSWORD}
        ACCEPT_EULA: "Y"
  api:
    build:
      context: .
      dockerfile: OrderService.Api/Dockerfile
    ports:
      - "${API_PORT}:8080"
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__Default: >
        Server=${DB_HOST},${DB_PORT};
        Database=${DB_NAME};
        User Id=${DB_USER};
        Password=${DB_PASSWORD};
        TrustServerCertificate=True;

  
